<link rel="stylesheet" href="https://bootswatch.com/4/cyborg/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<input name="query" placeholder="Enter Search Here" [(ngModel)]="searchQuery" >
<button class="btn btn-secondary" type="submit" (click)="gitSearch()">Submit</button>
<div *ngIf="searchResults; else elseBlock">
  <h3 class="total">Total Results: {{searchResults.total_count}}</h3>
  <ul class="list">
    <li *ngFor="let result of searchResults.items" class="list_item">
        <img class="avatar" [src]="result.owner.avatar_url" />
    <div>
      <a [href]="result.html_url">
        
        <h4 class="card border-secondary mb-3">{{result.name}} 
          <small> by {{result.owner.login}}</small> 
        </h4>
      </a> 
      <p class="card-body">{{result.description}}</p>
    </div>
   
  </li>
  </ul>
</div>
<ng-template #elseBlock>Loading...</ng-template>

